.container {
  max-width: 1200px;
  padding: 0 var(--space-md);
  margin: 0 auto;
}

.page {
  min-height: 100vh;
}

.pageWithHeader {
  min-height: calc(100vh - var(--header-height));
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexColumn {
  flex-direction: column;
}
